@bedgear-blue: #00bbe3;

body {
  margin: 0;
  padding: 0;
  font-family: 'DIN', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}

.promoBanner__output {
  background-color: @bedgear-blue;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.header__wrapper {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
}

.header__navWrapper {
  display: flex;
  width: 50%;
}

.header__navList {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.header__wrapper li a {
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
}

.header__wrapper li a:hover {
  color: white;
  border-bottom: @bedgear-blue 2px solid;
}

.header__logoImg {
  width: 70%;
}
